@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1649919200478') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-yajin:before {
  content: "\e634";
}

.icon-cheliangdiyadengji:before {
  content: "\e603";
}

.icon-guquanchuzhi:before {
  content: "\e614";
}

.icon-quxiaoquanping_o:before {
  content: "\eb98";
}

.icon-quanping_o:before {
  content: "\eb99";
}

.icon-consumption-fill:before {
  content: "\e79d";
}

.icon-success-filling:before {
  content: "\e68b";
}

